.pane-group {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;

  .pane {
    flex: 1;
  }
}

.sidebar {
  background: $frame-background-color;
  color: $dim-color;
  flex: 0;
  padding-top: 15px;
  width: 150px;
}

.nav-group {
  margin-top: 15px;

  .nav-group-title {
    color: $dark-color;
    display: block;
    font-size: 12px;
    padding: 2px 10px;
    text-transform: uppercase;
    user-select: none;
  }

  a {
    color: $dim-color;
    display: block;
    padding: 2px 10px;

    &.active {
      background: $light-panel-background;
    }

    i {
      display: inline-block;
      margin-right: 8px;
    }

  }
}
