.nav-group i.fa {
  margin-right: 6px;
}

.padded {
  padding: 15px 20px;
}

.toolbar {
  color: #fff;
  background: #121212;
  border-color: #000;
}

.toolbar.toolbar-header, .toolbar.toolbar-footer {
  box-shadow: none;
  border: none;
}

input.form-control {
  background: #444;
  color: #fff;
  border-color: #000;
}

input.form-control:focus {
  outline: none;
  color: #e2c08d;
  border-color: #000;
  box-shadow: none;
}

.btn {
  padding: 6px 15px;
  text-transform: uppercase;
  background: #222;
  color: #fcfcfc;
  border: none;
}
.btn:hover {
  background: #555;
}

.btn.btn-primary {
  background: #444;
  border: none;
  color: #fff;
}

.btn.btn-negative {
  background: #400;
  border: none;
  color: #fff;
}

.btn.btn-negative:hover {
  background: #700;
}

.toolbar .title {
  color: #fff;
  font-weight: bold;
  text-shadow: 1px 1px 1px #000;
}

.window {
  background: #222;
}

hr {
  background: #555;
  border: 1px solid #555;
}


.pane-sm.sidebar {
  background: #121212;
  color: #f5f5f5;
  border-right: none;
  box-shadow: none;

}

.nav-group .nav-group-item {
  color: #eee;
}

.nav-group .nav-group-item:active {
  background: #333;
}

.nav-group .nav-group-title {
  color: #f5f5f5;
  text-transform: uppercase;
  margin-bottom: 8px;
  margin-top: 5px;
}

.pane {
  border-right: none;
  border-left: none;
  background: #222;
}

.nav-group .nav-group-item.active {
  color: #fff;
  background: #333;
}
