.game-window-container {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.game-window {
  background: #000;
  color: #999;
  font-weight: normal;
  height: calc(100% - 45px);
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 15px;
  padding-bottom: 55px;
  unicode-bidi: embed;
  font-family: monospace;
  white-space: pre-wrap;
}

.game-input, .game-input:focus {
  overflow: hidden;
  position: absolute;
  bottom: 0px;
  left:0;
  height: 25px;
  width: 100%;
  background: #444;
  color: #fff;
  font-weight: bold;
  border: none;
  outline: none;
  box-shadow: none;
  border-top: 1px solid #000;
}

.game-input .progress {
  position: absolute;
  top: 0px;
  left:0;
  height: 25px;
  background: #522;
  z-index: 0;
}

.game-input input {
  position: absolute;
  bottom: 0px;
  left:0;
  height: 25px;
  width: 100%;
  background: transparent;
  padding: 2px 8px;
  color: #fff;
  font-weight: bold;
  border: none;
  outline: none;
  box-shadow: none;
  z-index: 10;
}

.game-window .direction {
  color: #fff;
  font-weight: bold;
}

.game-window .speech {
  color: #0c0;
  font-weight: bold;
}

.game-window .roomName {
  color: #fff;
  background: #222255;
  font-weight: bold;
  display: block;
  padding: 2px 5px;
}

.game-window .user-cmd {
  display: block;
  color: #555;
  font-weight: bold;
  margin: 10px 0;
}

.game-window .script-error {
  color: #fff;
  background: #500;
  font-weight: bold;
  display: block;
  margin: 5px 0;
  padding: 2px 5px;
}

.game-window .script-print {
  color: #fff;
  font-weight: bold;
  display: block;
  margin: 15px 0;
  padding: 2px 5px;
}

.game-window .script-notify {
  color: #fff;
  background: #550;
  font-weight: bold;
  display: block;
  margin: 5px 0;
  padding: 2px 5px;
}
/* Let's get this party started */
.game-window::-webkit-scrollbar {
  width: 8px;
}

/* Track */
.game-window::-webkit-scrollbar-track {
  -webkit-box-shadow: none;
  -webkit-border-radius: 10px;
}

/* Handle */
.game-window::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 4px;
  background: #444;
}
.game-window::-webkit-scrollbar-thumb:window-inactive {
  background: transparent;
}


.game-window-container .status-bars {
  height: 20px;
  background: #000;
  width: 100%;
}

.game-window-container .status-bars .bar {
  display: inline-block;
  width: 25%;
  height: 20px;
  position: relative;
}

.game-window-container .status-bars .bar .text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  color: #fff;
  font-weight: bold;
}

.game-window-container .status-bars .bar .progress {
  height: 20px;
}

.game-window-container .status-bars .bar.health {
  background: #300;
}
.game-window-container .status-bars .bar.health .progress {
  background: #900;
}

.game-window-container .status-bars .bar.mana {
  background: #003;
}
.game-window-container .status-bars .bar.mana .progress {
  background: #009;
}

.game-window-container .status-bars .bar.concentration {
  background: #333;
}
.game-window-container .status-bars .bar.concentration .text {
  color: #000;
}
.game-window-container .status-bars .bar.concentration .progress {
  background: #999;
}

.game-window-container .status-bars .bar.stamina {
  background: #330;
}
.game-window-container .status-bars .bar.stamina .progress {
  background: #990;
}
