fieldset {
  background-color: transparent;
  border: 0;
  margin: 0;
  padding: 0; }

legend {
  font-weight: 600;
  margin-bottom: 0.375em;
  padding: 0; }

label {
  display: block;
  font-weight: 600;
  margin-bottom: 0.375em; }

input,
select,
textarea {
  display: block;
  font-family: -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir", "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans", "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu", "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
  font-size: 14px; }

[type='color'], [type='date'], [type='datetime'], [type='datetime-local'], [type='email'], [type='month'], [type='number'], [type='password'], [type='search'], [type='tel'], [type='text'], [type='time'], [type='url'], [type='week'], input:not([type]), textarea {
  appearance: none;
  background-color: #262626;
  border: 1px solid #333333;
  border-radius: 3px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  color: #fff;
  margin-bottom: 0.75em;
  padding: 0.5em;
  transition: border-color 150ms ease;
  width: 100%; }
  [type='color']:hover, [type='date']:hover, [type='datetime']:hover, [type='datetime-local']:hover, [type='email']:hover, [type='month']:hover, [type='number']:hover, [type='password']:hover, [type='search']:hover, [type='tel']:hover, [type='text']:hover, [type='time']:hover, [type='url']:hover, [type='week']:hover, input:not([type]):hover, textarea:hover {
    border-color: #b1b1b1; }
  [type='color']:focus, [type='date']:focus, [type='datetime']:focus, [type='datetime-local']:focus, [type='email']:focus, [type='month']:focus, [type='number']:focus, [type='password']:focus, [type='search']:focus, [type='tel']:focus, [type='text']:focus, [type='time']:focus, [type='url']:focus, [type='week']:focus, input:not([type]):focus, textarea:focus {
    border-color: #1565c0;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(18, 89, 169, 0.7);
    outline: none; }
  [type='color']:disabled, [type='date']:disabled, [type='datetime']:disabled, [type='datetime-local']:disabled, [type='email']:disabled, [type='month']:disabled, [type='number']:disabled, [type='password']:disabled, [type='search']:disabled, [type='tel']:disabled, [type='text']:disabled, [type='time']:disabled, [type='url']:disabled, [type='week']:disabled, input:not([type]):disabled, textarea:disabled {
    background-color: #242424;
    cursor: not-allowed; }
    [type='color']:disabled:hover, [type='date']:disabled:hover, [type='datetime']:disabled:hover, [type='datetime-local']:disabled:hover, [type='email']:disabled:hover, [type='month']:disabled:hover, [type='number']:disabled:hover, [type='password']:disabled:hover, [type='search']:disabled:hover, [type='tel']:disabled:hover, [type='text']:disabled:hover, [type='time']:disabled:hover, [type='url']:disabled:hover, [type='week']:disabled:hover, input:not([type]):disabled:hover, textarea:disabled:hover {
      border: 1px solid #ddd; }
  [type='color']::placeholder, [type='date']::placeholder, [type='datetime']::placeholder, [type='datetime-local']::placeholder, [type='email']::placeholder, [type='month']::placeholder, [type='number']::placeholder, [type='password']::placeholder, [type='search']::placeholder, [type='tel']::placeholder, [type='text']::placeholder, [type='time']::placeholder, [type='url']::placeholder, [type='week']::placeholder, input:not([type])::placeholder, textarea::placeholder {
    color: white; }

textarea {
  resize: vertical; }

[type='checkbox'],
[type='radio'] {
  display: inline;
  margin-right: 0.375em; }

[type="file"] {
  margin-bottom: 0.75em;
  width: 100%; }

select {
  margin-bottom: 0.75em;
  width: 100%; }

html {
  box-sizing: border-box; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html,
body {
  color: #fff;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%; }

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0; }

dl {
  margin: 0; }

dt {
  font-weight: 600;
  margin: 0; }

dd {
  margin: 0; }

figure {
  margin: 0; }

img,
picture {
  margin: 0;
  max-width: 100%; }

table {
  border: 0;
  border-collapse: separate;
  font-size: 12px;
  text-align: left;
  width: 100%; }
  table thead {
    background-color: #121212; }
  table tr td {
    background-color: #333;
    transition: background-color .2s; }
  table tr:nth-child(even) td {
    background-color: #2e2e2e; }
  table tr:hover td {
    background-color: #4d4d4d; }
  table tr.selected td {
    background-color: #595959; }
  table tr.selected:hover td {
    background-color: #666666; }
  table th {
    font-weight: normal; }
  table th,
  table td {
    overflow: hidden;
    padding: 2px 15px;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer; }
    table th:last-child,
    table td:last-child {
      border-right: 0; }

body {
  color: #fff;
  font-family: -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir", "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans", "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu", "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
  font-size: 14px;
  line-height: 1.5; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir", "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans", "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu", "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
  font-size: 1.25em;
  line-height: 1.2;
  margin: 0 0 0.75em; }

p {
  margin: 0 0 0.75em; }

a {
  color: #1565c0;
  text-decoration: none;
  transition: color 150ms ease; }
  a:active, a:focus, a:hover {
    color: #104c90; }

hr {
  border-bottom: 1px solid #ddd;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: 1.5em 0; }

i.danger {
  color: #700; }

.window {
  bottom: 0;
  display: flex;
  flex-direction: column;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%; }
  .window .titlebar {
    -webkit-app-region: drag;
    background: #121212;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    line-height: 35px;
    padding: 0 10px;
    text-align: center; }
    .window .titlebar::after {
      clear: both;
      content: "";
      display: block; }
    .window .titlebar .right {
      float: right; }
    .window .titlebar .left {
      float: left; }
    .window .titlebar .item {
      -webkit-app-region: no-drag;
      color: #999;
      display: inline-block;
      font-size: 12px;
      font-weight: 300;
      height: 35px;
      padding: 0 10px;
      transition: color .3s; }
      .window .titlebar .item i {
        display: inline-block;
        margin-right: 5px; }
      .window .titlebar .item:hover {
        color: #fff; }
  .window .window-content {
    flex: 1;
    height: calc(100% - 35px);
    width: 100%; }
  .window .statusbar {
    background: #121212;
    color: #fff;
    font-size: 12px;
    height: 30px;
    line-height: 30px;
    padding: 0 10px; }

.pane-group {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%; }
  .pane-group .pane {
    flex: 1; }

.sidebar {
  background: #121212;
  color: #eee;
  flex: 0;
  padding-top: 15px;
  width: 150px; }

.nav-group {
  margin-top: 15px; }
  .nav-group .nav-group-title {
    color: #999;
    display: block;
    font-size: 12px;
    padding: 2px 10px;
    text-transform: uppercase;
    user-select: none; }
  .nav-group a {
    color: #eee;
    display: block;
    padding: 2px 10px; }
    .nav-group a.active {
      background: #444; }
    .nav-group a i {
      display: inline-block;
      margin-right: 8px; }

.modal {
  background: #121212;
  border: 1px solid #101010;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25);
  left: calc(50% - 200px);
  opacity: 0;
  padding: 25px;
  position: absolute;
  top: 25px;
  transform: translateY(-100%);
  transition: transform .3s, opacity .3s, visibility 0s;
  visibility: hidden;
  width: 400px;
  z-index: 1000; }
  .modal.show {
    border-radius: 0 0 3px 3px;
    opacity: 1;
    transform: translateY(0%);
    visibility: visible; }
  .modal .modal-content {
    padding: 15px 20px; }
  .modal input {
    display: block;
    width: 100%; }
  .modal .modal-title {
    color: #f5f5f5;
    font-size: 18px;
    font-weight: 300;
    text-align: center; }
  .modal p {
    color: #fcfcfc;
    font-size: 14px;
    font-weight: 300;
    text-align: center; }
  .modal .modal-buttons {
    background: #000;
    clear: both;
    margin-top: 35px; }

.modal-backdrop {
  background: rgba(0, 0, 0, 0.75);
  height: 100vh;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  transition: visibility 0s, opacity .3s;
  visibility: hidden;
  width: 100vw;
  z-index: 900; }
  .modal-backdrop.show {
    opacity: 1;
    visibility: visible; }

.btn,
button {
  background: #222;
  border: 0;
  border-radius: 3px;
  color: #fcfcfc;
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  padding: 6px 15px;
  text-transform: uppercase;
  transition: background-color .3s; }
  .btn:hover,
  button:hover {
    background: #555555; }
  .btn.danger, .btn.btn-negative,
  button.danger,
  button.btn-negative {
    background: #400;
    border: 0;
    border-radius: 3px;
    color: #fcfcfc;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    padding: 6px 15px;
    text-transform: uppercase;
    transition: background-color .3s; }
    .btn.danger:hover, .btn.btn-negative:hover,
    button.danger:hover,
    button.btn-negative:hover {
      background: #aa0000; }
  .btn.primary, .btn.btn-primary,
  button.primary,
  button.btn-primary {
    background: #555;
    border: 0;
    border-radius: 3px;
    color: #fcfcfc;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    padding: 6px 15px;
    text-transform: uppercase;
    transition: background-color .3s; }
    .btn.primary:hover, .btn.btn-primary:hover,
    button.primary:hover,
    button.btn-primary:hover {
      background: #888888; }

.buttons {
  text-align: right; }
  .buttons::after {
    clear: both;
    content: "";
    display: block; }
  .buttons .left {
    float: left; }
  .buttons .right {
    float: right; }

.toolbar {
  background: #121212;
  height: 45px;
  line-height: 45px; }
  .toolbar .right {
    float: right; }
    .toolbar .right button {
      margin-right: 15px; }
  .toolbar .left {
    float: left; }
    .toolbar .left button {
      margin-left: 15px; }
  .toolbar button {
    background: transparent;
    border: 0;
    color: #999;
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    outline: none;
    text-transform: uppercase; }
    .toolbar button:hover {
      color: #fff; }

.stack {
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  width: 100%; }
  .stack .scrollable {
    flex: 1;
    overflow-x: hidden;
    overflow-y: scroll; }

.scrollable::-webkit-scrollbar {
  width: 8px; }

/* Track */
.scrollable::-webkit-scrollbar-track {
  -webkit-box-shadow: none;
  -webkit-border-radius: 10px; }

/* Handle */
.scrollable::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 4px;
  background: #000; }

.login {
  background: #202020;
  border-radius: 4px;
  margin: auto;
  margin-top: 40px;
  padding: 20px 25px;
  width: 400px; }
  .login h1 {
    font-size: 24px;
    font-weight: 300; }
  .login input:focus {
    outline: none; }
  .login .session-list {
    margin-top: 25px; }
    .login .session-list .item {
      background: #333;
      border-radius: 4px;
      color: #eee;
      display: inline-block;
      margin-bottom: 10px;
      margin-right: 10%;
      overflow: hidden;
      transition: transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1), color 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
      width: 40%; }
      .login .session-list .item .details {
        padding: 10px 0;
        text-align: center;
        transition: color .2s; }
      .login .session-list .item:hover {
        background: #444;
        box-shadow: 0 5px 15px rbga(0, 0, 0, 0.5);
        color: #fff;
        transform: scale(1.15, 1.15); }
      .login .session-list .item .delete {
        background: #400;
        color: #700;
        padding: 5px;
        text-align: center;
        transition: background-color .5s; }
        .login .session-list .item .delete:hover {
          background: #770000;
          color: #aa0000; }
  .login .character-select {
    margin-bottom: 25px; }
    .login .character-select li {
      background: #202020;
      border-radius: 4px;
      cursor: pointer;
      margin: auto;
      margin-top: 15px;
      padding: 5px 15px; }
      .login .character-select li:hover {
        background: #333; }
  .login .no-sesisons {
    text-align: center; }
  .login .buttons {
    margin-top: 25px; }
    .login .buttons::after {
      clear: both;
      content: "";
      display: block; }

.game-window {
  background: #000;
  color: #999;
  font-family: monospace;
  font-weight: normal;
  height: calc(100% - 45px);
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 15px;
  padding-bottom: 55px;
  unicode-bidi: embed;
  white-space: pre-wrap; }
  .game-window .direction {
    color: #fff;
    font-weight: bold; }
  .game-window .speech {
    color: #0c0;
    font-weight: bold; }
  .game-window .roomName {
    color: #fff;
    background: #222255;
    font-weight: bold;
    display: block;
    padding: 2px 5px; }
  .game-window .user-cmd {
    display: block;
    color: #555;
    font-weight: bold;
    margin: 10px 0; }
  .game-window .script-error {
    color: #fff;
    background: #500;
    font-weight: bold;
    display: block;
    margin: 5px 0;
    padding: 2px 5px; }
  .game-window .script-print {
    color: #fff;
    font-weight: bold;
    display: block;
    margin: 15px 0;
    padding: 2px 5px; }
  .game-window .script-notify {
    color: #fff;
    background: #550;
    font-weight: bold;
    display: block;
    margin: 5px 0;
    padding: 2px 5px; }

.game-input,
.game-input:focus {
  position: relative;
  background: #444;
  border: 0;
  border-top: 1px solid #000;
  box-shadow: none;
  color: #fff;
  font-weight: bold;
  height: 25px;
  outline: none;
  overflow: hidden;
  width: 100%; }

.game-input .progress {
  position: absolute;
  top: 0px;
  left: 0;
  height: 25px;
  background: #522;
  z-index: 0; }

.game-input input {
  background: transparent;
  border: 0;
  bottom: 0;
  box-shadow: none;
  color: #fff;
  font-weight: bold;
  height: 25px;
  left: 0;
  outline: none;
  padding: 2px 8px;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 10; }

.status-bars {
  height: 20px;
  background: #000;
  width: 100%; }
  .status-bars .bar {
    display: inline-block;
    height: 20px;
    position: relative;
    width: 25%; }
    .status-bars .bar .text {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      text-align: center;
      color: #fff;
      font-weight: bold; }
    .status-bars .bar .progress {
      height: 20px; }
    .status-bars .bar.health {
      background: #300; }
      .status-bars .bar.health .progress {
        background: #900; }
    .status-bars .bar.mana {
      background: #003;
      background: #003; }
      .status-bars .bar.mana .progress {
        background: #009; }
    .status-bars .bar.concentration {
      background: #333; }
      .status-bars .bar.concentration .progress {
        background: #999; }
    .status-bars .bar.stamina {
      background: #330; }
      .status-bars .bar.stamina .progress {
        background: #990; }

/*# sourceMappingURL=main.css.map */
