.modal .modal-content {
  padding: 15px 20px;
}

.modal input {
    display: block;
    width: 100%;
}

.modal {
  background: #121212;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.25);
  border: 1px solid #101010;
  left: calc(50% - 200px);
  position: absolute;
  top: 25px;

  width: 400px;
  z-index: 1000;
  padding: 25px;
  opacity: 0;
	transform: translateY(-100%);
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
  visibility: hidden;
	transition: all .3s;
}

.modal.show {
	transform: translateY(0%);
	border-radius: 0 0 3px 3px;
	opacity: 1;
  visibility: visible;
}

.modal .modal-title {
  font-size: 18px;
  text-align: center;
  font-weight: 300;
  color: #f5f5f5;
}

.modal p {
  text-align: center;
  font-weight: 300;
  font-size: 14px;
  color: #fcfcfc;
}

.modal .modal-buttons {
  margin-top: 35px;
  background: #000;
  clear: both;
}


.modal-backdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,0.75);
  z-index: 900;
  opacity: 0;
  visibility: hidden; transition: visibility 0s, opacity .3s;

}

.modal-backdrop.show {
  opacity: 1;
  visibility: visible;
}
