.window.modal {
  position: absolute;
  top: 200px !important;
  display: none;
  z-index: 1000;
  box-shadow: 1px 1px 3px #333;
  border: 1px solid #ccc;
  height: auto;
  bottom: auto;
}

.modal.show {
  display: block;
}

.modal.prompt {
  width: 400px;
  left: calc(50% - 200px);
}

.modal .modal-content {
  padding: 15px 20px;
}

.modal.prompt .message {
  text-align: center;
  margin: 15px 0;
  display: block;
}

.modal.prompt input {
    display: block;
    width: 100%;
}
