.status-item {
  display: inline-block;
  color: #999;
  font-weight: bold;
}

.status-item .active {
  color: #222;
}

.status-label-item {
  padding-left: 10px;
  margin-right: 15px;
  color: #333;
  font-weight: bold;
  display: inline-block;
}

.status-label-item .label {
  display: inline-block;
  padding-right: 5px;
  color: #777;
}

.status-seperator-item {
  display: inline-block;
  width: 30px;
}

.status-progress {
  display: none;
  background: #222;
  height: 15px;
  width: 100px;
  border-radius: 4px;
  overflow: hidden;
  margin-right: 15px;
  margin-bottom: 0;
  margin-top: 8px;
}

.status-progress .inner-bar {
  position: relative;
  left: 0;
  top:0;
  height: 15px;
}

.status-progress .inner-bar.blue {
  background: #007700;
}
.status-progress .inner-bar.red {
  background: #770000;
}
.status-progress .inner-bar.yellow {
  background: #770077;
}
