.sub-toolbar {
  position: absolute;
  top: 0;
  left: 0;
  background: #f5f5f5;
  border-bottom: 1px solid #ccc;
  color: #444;
  height: 25px;
  line-height: 25px;
  width: 100%;
}

.sub-toolbar .right {
  float: right;
}

.sub-toolbar .left {
  float: left;
}

.sub-toolbar .right button {
  margin-right: 15px;
}

.sub-toolbar .left button {
  margin-left: 15px;
}

.sub-toolbar button, .sub-toolbar button:focus {
  display: inline-block;
  text-transform: uppercase;
  background: transparent;
  border: none;
  font-size: 12px;
  color: #888;
  cursor: pointer;
  font-weight: bold;
  outline: none;
}

.sub-toolbar button:hover {
  background: transparent;
  border: none;
  font-size: 12px;
  color: #000;
}

.sub-toolbar button:active {
  background: transparent;
  color: #000;
  border: none;
  outline: none;
}

.sub-toolbar-content {
  position: absolute;
  overflow: hidden;
  top: 26px;
  height: calc(100% - 25px);
  width: 100%;
}

.sub-toolbar input {
  font-size: 12px;
  padding: 4px 2px;
  border: 1px solid #eee;
  height: 20px;
}
