.sub-toolbar {
  position: absolute;
  top: 0;
  left: 0;
  background: #121212;
  color: #eee;
  height: 45px;
  line-height: 45px;
  width: 100%;
}

.sub-toolbar .right {
  float: right;
}

.sub-toolbar .left {
  float: left;
}

.sub-toolbar .right button {
  margin-right: 15px;
}

.sub-toolbar .left button {
  margin-left: 15px;
}

.sub-toolbar button, .sub-toolbar button:focus {
  display: inline-block;
  text-transform: uppercase;
  background: transparent;
  border: none;
  font-size: 12px;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
  outline: none;
}

.sub-toolbar button:hover {
  background: transparent;
  border: none;
  font-size: 12px;
  color: #fff;;
}

.sub-toolbar button:active {
  background: transparent;
  color: #fff;
  border: none;
  outline: none;
}

.sub-toolbar-content {
  position: absolute;
  overflow: hidden;
  top: 45px;
  height: calc(100% - 45px);
  width: 100%;
}
